.service{
    padding : 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom:13rem;
    margin-top: 9rem;
    flex-direction: column;
}

.awesome{
    display: flex;
    flex-direction: column;
     position : relative;
     margin-top:-6rem ;
     justify-content: center;
     text-align: center;
     margin-bottom: 2rem;



}

.awesome>:nth-child(1){
    font-size: 2.5rem;
    color: var(--black);
     font-weight: bold;
}

.awesome>:nth-child(1)>:nth-child(1){
    font-size: 2.5rem;
    color: var(--orange);
     font-weight: bold;
}

.awesome>:nth-child(3){
    max-height: 2rem;
    max-width: 6rem;
    padding-bottom: 1rem;
    text-align: center;
    padding-bottom: -2px;
    align-content: center;
    align-self: center;
}

.awesome>:nth-child(2){
    margin-top: 0;
    color: var(--gray);
    height: 14px;
}

.btn1
{
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
    text-align: center;
}


.blur2{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius:50%;
    background: #c1f5ff;
    filter: blur(72px);
    z-index: -9;
    top: 17rem;
    width: 21rem;
    left: -9rem;
}

.cards{
    position : relative;
}

.cards>*{
    position : absolute;
}


.s-blur2{
    left:14rem;
    top:8rem;
}

.s-blur1{

    left:-18rem;
    top:13rem; 
}


