.cardcontact{
    width: 86%;
    height: 70vh;

    display: flex;
    flex-direction: row;
    
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    background-color: rgb(245, 242, 242);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;

   
}

.contact{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
      /* scroll */
  padding-top: 3rem;
    
}
.leftside{
    display: flex;
    flex-direction: column;
    margin: 4.5rem;
    padding: 2rem 0;
}

.leftside>span:nth-of-type(1){
    font-weight: bold;
    font-size: 2.8rem;
    color: var(--black  );

}

.leftside>span:nth-of-type(2){
    font-weight: bold;
    font-size: 2.8rem;
    color: var(--orange  );

}

.rightside{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;    
    flex-direction: column;
    margin-left: 5rem;
}

.rightside>input{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;  
    margin: 2rem; 
}

textarea{
    margin: 2rem;
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;   
    height: 4rem!important;
}


.c-blur1{
    top: 1rem;
    left: 8rem;
}


.btn{
    height: 2rem;
    width: 4rem;
}

 

@media screen and (max-width: 480px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
    }
    .c-right .user{
        width: 16rem;
    }

}  